In [16]:
print('Hello world')

Hello world

In [17]:
age=27
print('my age is:',age)

my age is: 27

In [18]:
#f string
print(f'my age is: {age}')

my age is: 27

In [19]:
print('my age is {}'.format(age))

my age is 27

In [20]:
name = 'Raj'

In [21]:
print('my name is {} and age is {}'.format(name,age))

my name is Raj and age is 27

In [22]:
#place holder
print('my name is {firstname} and age is {firstage}'.format(firstname=name,firstage=age))

my name is Raj and age is 27

In [23]:
Name = 'Rajkumar'
Age = 27
Degree = 'B-Tech'
print('my age is {Fage} and i have complete degree {Fdeg} with the name of {Fname}'.format(Fname=Name,Fage=Age,Fdeg=Degree))

my age is 27 and i have complete degree B-Tech with the name of Rajkumar

## control flow

In [24]:
# if, 
#if else,
#if elif else,
#nested if,
#single statement suites

In [ ]:
#==(equal to),>=(greater than or equal to),<=(lesser than or equal to)

In [25]:
#if
age=18
if age >=18:
    print ('you are eligible to vote')

you are eligible to vote

In [27]:
name = input('enter the name')

enter the name raj

In [28]:
name

'raj'

In [29]:
age = int(input('enter your age '))

enter your age  27

In [30]:
age

27

In [31]:
type(age)

int

In [32]:
## task
#take input of age
#check whether age >=18 and age <=45
#display a message you are young blood

In [39]:
age = int(input('enter the age'))
if age >=18 and age <=45:
    print ('you are young blood')

enter the age 27

you are young blood

In [ ]:
## if else

In [40]:
age = int(input('enter the age'))
if age >=18 and age <=45:
    print ('you are young blood')
else:
    print ('thank you, we will let you know')

enter the age 46

thank you, we will let you know

In [ ]:
##task
#input product price 
#discount of 20% if product price > 1000
#product <=1000rs 30% off
#print product price after removing the discount

In [41]:
product_price = int(input('enter the price'))
if product_price >1000:
    print ('the price of the product is {}'.format(product_price*0.8))
else:
    print ('the price of the product is {}'.format(product_price*0.7))

enter the price 1000

the price of the product is 700.0

In [45]:
#elif and nested if

In [49]:
product_price = int(input('enter the price'))
if product_price >3000:
    print ('the price of the product is {}'.format(product_price*0.8))
elif product_price >= 2000 and product_price <=3000:
    print ('the price of the product is {}'.format(product_price*0.7))
    if product_price==2999:
        print('congratulations you get additional gift')
else:
    print ('the price of the product is {}'.format(product_price*0.6))

enter the price 2999

the price of the product is 2099.2999999999997
congratulations you get additional gift

In [ ]:
#single statement suite

In [52]:
val=int(input('enter the number'))
if (val<=999):print('hello')
else:print('bye')

enter the number 1000

bye

## loops

In [ ]:
#loops
#while
#for
#nested loops
#loop control (break, continue, pass)

In [60]:
#while loop
joining_age =25
while joining_age <60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print('its time for retirement')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [61]:
#atm machine with 1000rs
total_amt=1000
while total_amt !=0:
    print(total_amt)
    total_amt=total_amt-100
else:
    print('put more money bank people')

1000
900
800
700
600
500
400
300
200
100
put more money bank people

# for loops

In [66]:

lst=['raj',1,2,3,4,'apple','banana']
type(lst)

list

In [67]:
lst[0]

'raj'

In [68]:
lst

['raj', 1, 2, 3, 4, 'apple', 'banana']

In [69]:
for x in lst:
    print(x)

raj
1
2
3
4
apple
banana

In [71]:
fruits_list=['mango','cherry','apple','papaya','banana']

In [76]:
for a in fruits_list:
    print(a,end=' , ')
    if a=='cherry':
        print('the fruit is cherry')

mango , cherry , the fruit is cherry
apple , papaya , banana ,

In [77]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [78]:
fruit[2]

'n'

In [84]:
#nested loop
n=7

for i in range (0,n):
    for j in range (0,i+1):
        print('*', end='')
    print ('\r')

*
**
***
****
*****
******
*******

In [86]:
for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
#loop control
## break and continue

In [88]:
fruits_list=['mango','cherry','apple','papaya','banana']

In [90]:
for i in fruits_list:
    if i=='apple':
        print('the fruit is apple')
        break
    print(i)

mango
cherry
the fruit is apple

In [91]:
for i in fruits_list:
    if i=='apple':
        print('the fruit is apple')
        pass
    print(i)

mango
cherry
the fruit is apple
apple
papaya
banana

In [92]:
for i in fruits_list:
    if i=='apple':
        print('the fruit is apple')
        continue
    print(i)

mango
cherry
the fruit is apple
papaya
banana